{{> head }}

    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>EINSEN &copy;</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas ab aut odio incidunt voluptate deserunt expedita recusandae consectetur cupiditate unde, dolorum quia magni ipsum eligendi exercitationem magnam est, qui temporibus?</p>
        </div>
        <div class="col-4">
            <img src="assets/img/logo.png" alt="imagen" class="img-thumbnail">
        </div>
    </div>

    {{> footer }}